{% extends 'security/layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form method="post" action="/login">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <div class="form-group mb-3">
            <label>Username</label>
            <div class="input-group">
                <input type="text" value="{{ last_username }}" name="username" class="form-control" autocomplete="username" required autofocus>
                <span class="input-group-text">
                    <i class="bx bx-user text-4"></i>
                </span>
            </div>
        </div>
        <div class="form-group mb-3">
            <div class="clearfix">
                <label class="float-left">Password</label>
            </div>
            <div class="input-group">
                <input name="password" type="password" class="form-control form-control-lg" />
                <span class="input-group-text">
                    <i class="bx bx-lock text-4"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-end">
                <button type="submit" class="btn btn-primary mt-2">Sign In</button>
            </div>
        </div>
    </form>
{% endblock %}
