{% extends 'base.html.twig' %}

{% block title %}Customers{% endblock %}

{% block body %}
    <section class="card">
        <div class="card-body">
            <div id="query-builder"></div>
            <div class="">
                <a class="btn btn-primary pull-left" href="{{ path('customer_index') }}" target="_self">Clear filter</a>
                <button class="btn btn-primary pull-right" id="filter-button">Search</button>
            </div>
            <form method="post" id="filter-form">
                <input type="hidden" name="filter" id="filter" value=""/>
            </form>
        </div>
    </section>
    <section class="card">
        <div class="card-body">
            <table class="table table-bordered table-striped mb-0" id="datatable-default">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Cards</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }} {{ customer.surname }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>
                            {% for card in customer.cards %}
                                <a href="{{ path('card_show', {'id': card.id}) }}" target="_blank">{{ card.number | zeropad }}</a><br/>
                            {% endfor %}
                        </td>
                        {# <td>{{ customer.registered ? customer.registered|date('Y-m-d H:i:s') : '' }}</td> #}
                        <td style="white-space: nowrap">
                            <a class="btn btn-primary btn-xs" href="{{ path('customer_show', {'id': customer.id}) }}">show</a>
                            <a class="btn btn-warning btn-xs" href="{{ path('customer_edit', {'id': customer.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('customer_new') }}">Create new</a>
        </div>
    </section>
{% endblock %}

{% block breadcrumbs %}
    <header class="page-header">
        <h2>Customers</h2>
        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
            </ol>
            <a class="sidebar-right-toggle" href="{{ path('customer_index') }}"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/vendor/QueryBuilder/css/query-builder.default.css">
{% endblock %}

{% block javascripts %}
    <!-- Specific Page Vendor -->
    <script src="/vendor/select2/js/select2.js"></script>
    <script src="/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>


    <script src="/vendor/QueryBuilder/js/query-builder.standalone.js"></script>
    <script src="/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/vendor/QueryBuilder/plugins/bt-tooltip-errors/bootstrap-tooltip.js"></script>

    <script type="text/javascript">
        (function ($) {

            'use strict';

            var init = function () {

                $('#datatable-default').dataTable({
                    dom: '<"row"<"col-lg-6"l><"col-lg-6"f>><"table-responsive"t>p'
                });



            };

            $(function () {
                init();
            });

            $('#query-builder').queryBuilder({
                plugins: [
                    // 'bt-tooltip-errors',
                    // 'datepicker'
                ],
                allow_empty: false,
                filters: [{
                    id: 'name',
                    label: 'Name',
                    type: 'string',
                    input: 'text',
                    placeholder: 'John',
                    validation: {
                        allow_empty_value: false
                    },
                    operators: ['contains', 'equal']
                },{
                    id: 'surname',
                    label: 'Surname',
                    type: 'string',
                    input: 'text',
                    placeholder: 'John',
                    validation: {
                        allow_empty_value: false
                    },
                    operators: ['contains', 'equal']
                },{
                    id: 'email',
                    label: 'E-mail',
                    type: 'string',
                    input: 'text',
                    placeholder: 'someone@example.com',
                    validation: {
                        allow_empty_value: false
                    },
                    operators: ['contains', 'equal']
                },{
                    id: 'phone',
                    label: 'Phone',
                    type: 'string',
                    input: 'text',
                    placeholder: '+420608022065',
                    validation: {
                        allow_empty_value: false
                    },
                    operators: ['contains', 'equal']
                },{
                    id: 'cards.number',
                    label: 'Card number',
                    type: 'integer',
                    input: 'number',
                    validation: {
                        min: 1,
                        step: 1,
                        allow_empty_value: false
                    },
                    operators: ['equal', 'not_equal', 'less', 'less_or_equal', 'greater', 'greater_or_equal', 'between', 'not_between']
                }],
            });

            {% if filter %}
                $('#query-builder').queryBuilder('setRules', JSON.parse('{{ filter|raw }}'));
            {% endif %}

            $('#filter-button').on('click', function() {
                var result = $('#query-builder').queryBuilder('getRules');
                // if (!$.isEmptyObject(result)) {
                //     alert(JSON.stringify(result, null, 2));
                // }
                $('#filter').val(JSON.stringify(result));
                $('#filter-form').submit();
            });

        }).apply(this, [jQuery]);
    </script>
{% endblock %}
