{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    {{ include('customer/_form.html.twig') }}
{% endblock %}

{% block breadcrumbs %}
    <header class="page-header">
        <h2>Create new Customer</h2>
        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
            </ol>
            <a class="sidebar-right-toggle" href="{{ path('customer_index') }}"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>
{% endblock %}
