{% extends 'base.html.twig' %}

{% block title %}Customer: {{ customer.name }} {{ customer.surname }}{% endblock %}

{% block body %}
    <section class="card">
        <div class="card-body">
            <table class="table table-responsive-md mb-0">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ customer.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ customer.name }}</td>
                </tr>
                <tr>
                    <th>Surname</th>
                    <td>{{ customer.surname }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ customer.address }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        <a href="mailto:{{ customer.email }}">{{ customer.email }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ customer.phone }}</td>
                </tr>
                <tr>
                    <th>Registered</th>
                    <td>{{ customer.registered ? customer.registered|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Cards</th>
                    <td>
                        {% for card in customer.cards %}
                            <a href="{{ path('card_show', {'id': card.id}) }}" target="_blank">{{ card.number | zeropad }}</a><br/>
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <footer class="card-footer text-end">
            <div class="pull-left">
                {{ include('customer/_delete_form.html.twig') }}
            </div>
            <a class="btn btn-primary" href="{{ path('customer_index') }}">back to list</a>
            <a class="btn btn-default" href="{{ path('customer_edit', {'id': customer.id}) }}">edit</a>
        </footer>
    </section>
{% endblock %}


{% block breadcrumbs %}
    <header class="page-header">
        <h2>Customer: {{ customer.name }} {{ customer.surname }}</h2>
        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('customer_index') }}">
                        <span>Customers</span>
                    </a>
                </li>
            </ol>
            <a class="sidebar-right-toggle" href="{{ path('customer_index') }}"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>
{% endblock %}
