<header class="page-header">
    <h2>Dashboard</h2>
    <div class="right-wrapper text-end">
        <ol class="breadcrumbs">
            <li>
                <a href="{{ path('homepage') }}">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
        </ol>
        <a class="sidebar-right-toggle"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>
