<!-- start: header -->
<header class="header">
    <div class="logo-container">
        <a href="{{ path('homepage') }}" class="logo">
            <img src="/img/logo.png" width="75" height="35" alt="Cortex Demo App"/>
        </a>
        <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
             data-fire-event="sidebar-left-opened">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <!-- start: search & user box -->
    <div class="header-right">
        <form action="/search" class="search nav-form">
            <div class="input-group">
                <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
            </div>
        </form>

        <span class="separator"></span>
        <div id="userbox" class="userbox">
            <a href="#" data-bs-toggle="dropdown">
                <figure class="profile-picture">
                    <img
                        src="https://www.gravatar.com/avatar/{{  app.user.email | md5 }}?d=identicon&s=35"
                        alt="{{  app.user.name }} {{ app.user.surname }}"
                        class="rounded-circle"
                        data-lock-picture="https://www.gravatar.com/avatar/{{ app.user.email | md5 }}?d=identicon&s=120"
                    />
                </figure>
                <div
                    class="profile-info"
                    data-lock-name="{{ app.user.name }} {{ app.user.surname }}"
                    data-lock-email="{{ app.user.email }}"
                >
                    <span class="name">{{ app.user.name }} {{ app.user.surname }}</span>
                    <span class="role">{{ app.user.role }}</span>
                </div>
                <i class="fa custom-caret"></i>
            </a>
            <div class="dropdown-menu">
                <ul class="list-unstyled mb-2">
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="{{ path('app_logout') }}"><i class="bx bx-power-off"></i>
                            Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>
<!-- end: header -->
