{% extends 'base.html.twig' %}

{% block title %}Welcome, %username%!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 mb-4 pb-2">
            <section class="card card-featured-left card-featured-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="chart-data-selector" id="salesSelectorWrapper">
                                <h2>
                                    Sales
                                </h2>
                                <div id="salesSelectorItems" class="chart-data-selector-items mt-3">
                                    <!-- Flot: Sales -->
                                    <div
                                        class="chart chart-xs"
                                        data-sales-rel="Sales"
                                        id="flotDashSales1"
                                        class="chart-active"
                                        style="height: 203px;">
                                    </div>
                                    <script>
                                        var flotDashSales1Data = [{
                                            data: [
                                                {% for date, value in series %}
                                                    ["{{ date }}", {{ value }}],
                                                {% endfor %}
                                            ],
                                            color: "#0088cc",
                                            xaxis: {
                                                show: false
                                            }
                                        }];
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 text-center">
                            <h2 class="card-title mt-3">Sales Goal</h2>
                            <div class="liquid-meter-wrapper liquid-meter-sm mt-3">
                                <div class="liquid-meter">
                                    <meter min="0" max="100" value="{{ goal | number }}" id="meterSales"></meter>
                                </div>
                                <div class="liquid-meter-selector mt-4 pt-1" id="meterSalesSel">
                                    Daily goal: 1 000 000 CZK
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12">
            <div class="row mb-3">
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-primary mb-3">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fas fa-life-ring"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Cards assigned</h4>
                                        <div class="info">
                                            <strong class="amount">{{ cards }}</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase" href="{{ path('card_index') }}">(view all)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-secondary">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-secondary">
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Today Profit</h4>
                                        <div class="info">
                                            <strong class="amount">{{ profit | money }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-tertiary mb-3">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-tertiary">
                                        <i class="fas fa-shopping-cart"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Today's Orders</h4>
                                        <div class="info">
                                            <strong class="amount">{{ orders | number }}</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase" href="{{ path('order_index') }}">(view all)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-xl-6">
                    <section class="card card-featured-left card-featured-quaternary">
                        <div class="card-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-quaternary">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Customers count</h4>
                                        <div class="info">
                                            <strong class="amount">{{ customers }}</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase" href="{{  path('customer_index') }}">(view all)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 order-1 mb-4">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">TOP-10 customers</h2>
            </header>
            <div class="card-body">
                <table class="table table-responsive-md table-striped mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Turnover</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in turnover %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row.name }} {{ row.surname }}</td>
                                <td>{{ row.email }}</td>
                                <td>{{ row.phone }}</td>
                                <td>{{ row.turnover | money }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}
