<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">
    <div class="sidebar-header">
        <div class="sidebar-title">
            Navigation
        </div>
        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed"
             data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="{{ curroute == 'homepage' ? 'nav-active' }}">
                        <a class="nav-link" href="{{ path('homepage') }}">
                            <i class="bx bx-home-alt" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="{{ curroute starts with 'customer_' ? 'nav-active' }}">
                        <a class="nav-link" href="{{ path('customer_index') }}">
                            <i class="bx bx-user-circle" aria-hidden="true"></i>
                            <span>Customers</span>
                        </a>
                    </li>
                    <li class="{{ curroute starts with 'card_' ? 'nav-active' }}">
                        <a class="nav-link" href="{{ path('card_index') }}">
                            <i class="bx bx-credit-card" aria-hidden="true"></i>
                            <span>Cards</span>
                        </a>
                    </li>
                    <li class="{{ curroute starts with 'order_' ? 'nav-active' }}">
                        <a class="nav-link" href="{{ path('order_index') }}">
                            <i class="bx bx-cart" aria-hidden="true"></i>
                            <span>Orders</span>
                        </a>
                    </li>
                    <li class="{{ curroute starts with 'product_' ? 'nav-active' }}">
                        <a class="nav-link" href="{{ path('product_index') }}">
                            <i class="bx bx-basket" aria-hidden="true"></i>
                            <span>Products</span>
                        </a>
                    </li>
                    <li class="{{ curroute starts with 'segment_' ? 'nav-active' }}">
                        <a class="nav-link" href="{{ path('segment_index') }}">
                            <i class="bx bx-pie-chart-alt-2" aria-hidden="true"></i>
                            <span>Segmentation</span>
                        </a>
                    </li>
                    <li class="{{ curroute starts with 'api_' ? 'nav-active' }}">
                        <a class="nav-link" href="{{ path('api_doc') }}">
                            <i class="bx bx-cog" aria-hidden="true"></i>
                            <span>API</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <script>
            // Maintain Scroll Position
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');
                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>
    </div>
</aside>
<!-- end: sidebar -->
