{% extends 'base.html.twig' %}

{% block title %}Edit Card#: {{ card.number | zeropad }}{% endblock %}

{% block body %}
    {{ include('card/_form.html.twig', {'button_label': 'Update'}) }}

{#    <a href="{{ path('card_index') }}">back to list</a>#}

{#    {{ include('card/_delete_form.html.twig') }}#}
{% endblock %}

{% block breadcrumbs %}
    <header class="page-header">
        <h2>Edit Card#: {{ card.number | zeropad }}</h2>
        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
            </ol>
            <a class="sidebar-right-toggle" href="{{ path('customer_index') }}"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>
{% endblock %}
