{% extends 'base.html.twig' %}

{% block title %}Cards{% endblock %}

{% block body %}
    <section class="card">
        <div class="card-body">
            <table class="table table-bordered table-striped mb-0" id="datatable-default">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Number</th>
                    <th>Owner</th>
                    <th>Type</th>
                    <th>Discount</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for card in cards %}
                    <tr>
                        <td>{{ card.id }}</td>
                        <td>{{ card.number | zeropad }}</td>
                        <td>
                            {% if card.owner %}
                                <a href="{{ path('customer_show', {'id': card.owner.id}) }}" target="_blank">
                                    {{ card.owner.name }} {{ card.owner.surname }}
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ card.type == 1 ? 'Plastic' : 'Virtual' }}</td>
                        <td>{{ card.discount }}%</td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-primary btn-xs" href="{{ path('card_show', {'id': card.id}) }}">show</a>
                            <a class="btn btn-warning btn-xs" href="{{ path('card_edit', {'id': card.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('card_new') }}">Create new</a>

        </div>
    </section>
{% endblock %}


{% block breadcrumbs %}
    <header class="page-header">
        <h2>Cards</h2>
        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
            </ol>
            <a class="sidebar-right-toggle" href="{{ path('card_index') }}"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>
{% endblock %}

{% block javascripts %}
    <!-- Specific Page Vendor -->
    <script src="/vendor/select2/js/select2.js"></script>
    <script src="/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>

    <script type="text/javascript">
        (function ($) {

            'use strict';

            var datatableInit = function () {

                $('#datatable-default').dataTable({
                    dom: '<"row"<"col-lg-6"l><"col-lg-6"f>><"table-responsive"t>p'
                });

            };

            $(function () {
                datatableInit();
            });

        }).apply(this, [jQuery]);
    </script>
{% endblock %}
