{% extends 'base.html.twig' %}

{% block title %}Card #: {{ card.number | zeropad }}{% endblock %}

{% block body %}
    <section class="card">
        <div class="card-body">
            <table class="table table-responsive-md mb-0">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ card.id }}</td>
                </tr>
                <tr>
                    <th>Owner</th>
                    <td>
                        {% if card.owner %}
                            <a href="{{ path('customer_show', {'id': card.owner.id}) }}" target="_blank">
                                {{ card.owner.name }} {{ card.owner.surname }}
                            </a>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Number</th>
                    <td>{{ card.number | zeropad }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ card.type == 1 ? 'Plastic' : 'Virtual' }}</td>
                </tr>
                <tr>
                    <th>Discount</th>
                    <td>{{ card.discount }}%</td>
                </tr>
                </tbody>
            </table>
        </div>

        <footer class="card-footer text-end">
            <div class="pull-left">
{#                {{ include('customer/_delete_form.html.twig') }}#}
            </div>
            <a class="btn btn-primary" href="{{ path('card_index') }}">back to list</a>
            <a class="btn btn-default" href="{{ path('card_edit', {'id': card.id}) }}">edit</a>
        </footer>
    </section>
{% endblock %}

{% block breadcrumbs %}
    <header class="page-header">
        <h2>Card #: {{ card.number | zeropad }}</h2>
        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('card_index') }}">
                        <span>Customers</span>
                    </a>
                </li>
            </ol>
            <a class="sidebar-right-toggle" href="{{ path('card_index') }}"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>
{% endblock %}
