<section class="card">
    <div class="card-body">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="mt-2">
                <button class="btn btn-primary ms-2 pull-right">{{ button_label|default('Save') }}</button>
                <a class="btn btn-default ms-2 pull-right" href="{{ path('product_index') }}">back to list</a>
            </div>
        {{ form_end(form) }}
    </div>
</section>
