{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}

{% block breadcrumbs %}
    <header class="page-header">
        <h2>Edit Product</h2>
        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
            </ol>
            <a class="sidebar-right-toggle" href="{{ path('product_index') }}"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>
{% endblock %}
