{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <section class="card">
        <div class="card-body">
            <table class="table table-bordered table-striped mb-0" id="datatable-default">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.title }}</td>
                        <td>{{ product.description }}</td>
                        <td style="white-space: nowrap">{{ product.price | money}}</td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-primary btn-xs"
                               href="{{ path('product_show', {'id': product.id}) }}">show</a>
                            <a class="btn btn-warning btn-xs"
                               href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('product_new') }}">Create new</a>

        </div>
    </section>
{% endblock %}



{% block breadcrumbs %}
    <header class="page-header">
        <h2>Products</h2>
        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
            </ol>
            <a class="sidebar-right-toggle" href="{{ path('product_index') }}"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>
{% endblock %}

{% block javascripts %}
    <!-- Specific Page Vendor -->
    <script src="/vendor/select2/js/select2.js"></script>
    <script src="/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>

    <script type="text/javascript">
        (function ($) {

            'use strict';

            var datatableInit = function () {

                $('#datatable-default').dataTable({
                    dom: '<"row"<"col-lg-6"l><"col-lg-6"f>><"table-responsive"t>p'
                });

            };

            $(function () {
                datatableInit();
            });

        }).apply(this, [jQuery]);
    </script>
{% endblock %}
