{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
    <section class="card">
        <div class="card-body">
            <table class="table table-responsive-md mb-0">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ product.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ product.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ product.price }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>{{ product.image }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <footer class="card-footer text-end">
            <div class="pull-left">
                {{ include('product/_delete_form.html.twig') }}
            </div>
            <a class="btn btn-primary" href="{{ path('product_index') }}">back to list</a>
            <a class="btn btn-default" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
        </footer>
    </section>
{% endblock %}

{% block breadcrumbs %}
    <header class="page-header">
        <h2>{{ product.title }}</h2>
        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('product_index') }}">
                        <span>Products</span>
                    </a>
                </li>
            </ol>
            <a class="sidebar-right-toggle" href="{{ path('product_index') }}"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>
{% endblock %}
