{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <section class="card">
        <div class="card-body">
            <table class="table table-bordered table-striped mb-0" id="datatable-default">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Customer</th>
                    <th>Date</th>
                    <th>Subtotal</th>
                    <th>Total</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>
                            <a href="{{ path('customer_show', {'id': order.customer.id}) }}" target="_blank">
                                {{ order.customer.id }}: {{ order.customer.name }} {{ order.customer.surname }}
                            </a>
                        </td>
                        <td>{{ order.date ? order.date|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ order.subtotal | money }}</td>
                        <td>{{ order.total | money }}</td>
                        <td style="white-space: nowrap">
                            <a class="btn btn-primary btn-xs" href="{{ path('order_show', {'id': order.id}) }}">show</a>
                            <a class="btn btn-warning btn-xs" href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

{#            <a class="btn btn-primary" href="{{ path('order_new') }}">Create new</a>#}
        </div>
    </section>
{% endblock %}

{% block breadcrumbs %}
    <header class="page-header">
        <h2>Orders</h2>
        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
            </ol>
            <a class="sidebar-right-toggle" href="{{ path('order_index') }}"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>
{% endblock %}

{% block javascripts %}
    <!-- Specific Page Vendor -->
    <script src="/vendor/select2/js/select2.js"></script>
    <script src="/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script src="/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>

    <script type="text/javascript">
        (function ($) {

            'use strict';

            var datatableInit = function () {

                $('#datatable-default').dataTable({
                    dom: '<"row"<"col-lg-6"l><"col-lg-6"f>><"table-responsive"t>p'
                });

            };

            $(function () {
                datatableInit();
            });

        }).apply(this, [jQuery]);
    </script>
{% endblock %}
