{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
<section class="card">
    <div class="card-body">
        <table class="table table-responsive-md mb-0">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>
                    <a href="{{ path('customer_show', {'id': order.customer.id}) }}" target="_blank">
                        {{ order.customer.name }} {{ order.customer.surname }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Card</th>
                <td>
                    <a href="{{ path('card_show', {'id': order.card.id}) }}" target="_blank">{{ order.card.number | zeropad }}</a>
                </td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ order.date ? order.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td>{{ order.subtotal | money }}</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ order.card.discount }}%</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ order.total | money }}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <footer class="card-footer text-end">
        <div class="pull-left">
            {{ include('order/_delete_form.html.twig') }}
        </div>
        <a class="btn btn-primary" href="{{ path('order_index') }}">back to list</a>
        <a class="btn btn-default" href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
    </footer>
    <div class="col-xl-12 order-1 mb-4">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Order content</h2>
            </header>
            <div class="card-body">
                <table class="table table-responsive-md table-striped mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Count</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order.items %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <a href="{{ path('product_show', {'id': item.product.id}) }}" target="_blank">
                                    {{ item.product.title }}
                                </a>
                            </td>
                            <td>{{ item.count }}</td>
                            <td>{{ item.price | money }}</td>
                            <td>{{ (item.count * item.price) | money }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</section>
{% endblock %}

{% block breadcrumbs %}
    <header class="page-header">
        <h2>Order#: {{ order.id }}</h2>
        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('order_index') }}">
                        <span>Orders</span>
                    </a>
                </li>
            </ol>
            <a class="sidebar-right-toggle" href="{{ path('order_index') }}"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>
{% endblock %}
